
<!--<ion-view title="Home">
  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Location</span>
        <input type="text" placeholder="Location" ng-model="formData.userLocation">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="weatherRequest()">Get Weather</button>
    </div>
    <span id="message"></span>
  </ion-content>
</ion-view>

<ion-view title="Home">
  <ion-content class="has-header">
    Display current location's weather data
    <h3>{{city}}</h3>
    <h5><weather-icon icon="current.icon" id="current-icon"></weather-icon> {{current.currently.summary}}</h5>
    <p>The temperature now is</p>  
  <span class="large">{{current.currently.temperature}} ° </span>
  </ion-content>
</ion-view>-->

<ion-view title="{{ userLocation }}">
  
  <ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
      <ion-content scroll="false">
        <div id="topRow">
          <div class="row">
            <div class="col-33">
              <i class="ion-ios-search-strong padding"></i>
            </div>
            <div class="col-33">
              <h3 class="centerResults padding-top">Today</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-50 col-offset-10">
              <h2 class="mainTemp">{{ temperature }}</h2>
            </div>
            <div class="col-20">
              <div class="row sideTemp">
                <i class="ion-arrow-up-c"></i>
                <p>{{ high }}</p>
              </div>
              <div class="row sideTemp">
                <i class="ion-arrow-down-c"></i>
                <p>{{ low }}</p>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-10">
          <i class="ion-ios-arrow-back" ng-click="toggleLeft()"></i>
        </div>
        <div class="col-80">
          <div class="row">
            <canvas id="icon" width="128" height="128"></canvas>
          </div>
          <div class="row">  
            <h3 class="centerResults sentences">{{ sum }}</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-33">
            <i class="ion-umbrella centerResults"></i></br>
            <h4 class="centerResults">{{ pChance }}</h4>
        </div>
        
        <div class="col-33">
            <i class="ion-speedometer centerResults"></i></br>
            <h4 class="centerResults">{{ windSpeed }}</h4>
        </div>
        <div class="col-33">
            <i class="ion-thermometer centerResults"></i></br>
            <h4 class="centerResults">{{ humidity }}</h4>
        </div>
      </div>
      </ion-content>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" width="375">
    <ion-content>
      <div class="row">
        <div class="col-33">
          <i class="ion-ios-search-strong padding"></i>
        </div>
        <div class="col-33">
          <h3 class="centerResults padding-top">Yesterday</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-50 col-offset-10">
          <h2 class="mainTemp">{{ temperatureY }}</h2>
        </div>
        <div class="col-20">
          <div class="row sideTemp">
            <i class="ion-arrow-up-c"></i>
            <p>{{ highY }}</p>
          </div>
          <div class="row sideTemp">
            <i class="ion-arrow-down-c"></i>
            <p>{{ lowY }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-80 col-offset-10">
        <div class="row">
          <canvas id="iconY" width="128" height="128"></canvas>
        </div>
        <div class="row">
          <h3 class="centerResults sentences">{{ sumY }}</h3>
        </div>
        </div>
        <div class="col-10">
          <i class="ion-ios-arrow-forward" ng-click="toggleLeft()"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-33">
          <i class="ion-umbrella centerResults"></i></br>
          <h4 class="centerResults">{{ pChanceY }}</h4>
        </div>
        
        <div class="col-33">
          <i class="ion-speedometer centerResults"></i></br>
          <h4 class="centerResults">{{ windSpeedY }}</h4>
        </div>
        <div class="col-33">
          <i class="ion-thermometer centerResults"></i></br>
          <h4 class="centerResults">{{ humidityY }}</h4>
        </div>
      </div>
      </ion-content>
    </ion-side-menu>

    <!-- Right menu -->
    <ion-side-menu side="right">
    </ion-side-menu>
  </ion-side-menus>


  <!--<ion-content class="has-header">
    <div class="row">
      <div class="col-20">
        <i class="icon ion-ios-search-strong padding"></i>
      </div>
      <div class="col-20 col-offset-20">
        <h3 class="centerResults padding-top">Today</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-50 col-offset-10">
        <h2 class="mainTemp">{{ temperature }}</h2>
      </div>
      <div class="col-20">
        <div class="row sideTemp">
          <i class="ion-arrow-up-c"></i>
          <p>{{ high }}</p>
        </div>
        <div class="row sideTemp">
          <i class="ion-arrow-down-c"></i>
          <p>{{ low }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-80 col-offset-10">
        <canvas id="icon" width="128" height="128"></canvas></br>
        <h3 class="centerResults sentences">{{ sum }}</h3>
      </div>
    </div></br>
    <div class="row">
      <div class="col-33">
        <i class="ion-umbrella centerResults"></i></br>
        <h4 class="centerResults">{{ pChance }}</h4>
      </div>
      
      <div class="col-33">
        <i class="ion-speedometer centerResults"></i></br>
        <h4 class="centerResults">{{ windSpeed }}</h4>
      </div>
      <div class="col-33">
        <i class="ion-thermometer centerResults"></i></br>
        <h4 class="centerResults">{{ humidity }}</h4>
      </div>
    </div>
  </ion-content>
</ion-view>